<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index-page-styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EXgames</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
					<li>
						<a href="/posting">Sell</a>
					</li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
					
					<li>
						<a href="/login">Logout</a>
					</li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<div class="about-info">
					<h2>Our vision</h2>
					<p>We've all been there, waiting for our parents to bring home the newest, shiniest game console. It's Sunday afternoon, you've finished all your homework,
					you friends brought the junk food and soda, and Monday doesn't yet exist. Those were the good days.</p>
					<br>
					<p>We at EXGames want to spread the joy of those afternoons to as many people as we can. We get it, sometimes life gets in the way, school's expensive, and
					who doesn't have to pay rent? You can't always afford the things you want, but that's where we come in. We provide a platform for gamers to exchange their games with others,
					so you can get the most out of your collection. Spend those precious lazy afternoons playing something new, so they go from good days to even better days.
					<br><br>
				</div>
			</div>
			<h2 class="text-center">Meet the team</h2><br>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="media">
				<img class="img-responsive media__image" src="images/victor_gong_pic.jpg" alt="">
					<div class="media__body">
						<br><br><br>
						<a class="media-icons team-social" target="_blank" title="Twitter" href="http://www.twitter.com/VictorGongBlah"><img alt="follow me on Twitter" src="images/twitter.png" border=0></a>
						<a class="media-icons team-social" target="_blank" title="Linkedin" href="http://www.linkedin.com"><img alt="follow me on Facebook" src="images/linkedin.png" border=0></a>
					</div>
				</div>
				<div class="team-info">
					<h3>Victor Gong</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="media">
				<img class="img-responsive media__image" src="images/louis.jpeg" alt="">
					<div class="media__body">
						<br><br><br>
						<a class="media-icons team-social" target="_blank" title="Twitter" href="http://www.twitter.com"><img alt="follow me on Twitter" src="images/twitter.png" border=0></a>
						<a class="media-icons team-social" target="_blank" title="Linkedin" href="http://www.linkedin.com"><img alt="follow me on Facebook" src="images/linkedin.png" border=0></a>
					</div>
				</div>
				<div class="team-info">
					<h3>Seung Hoon Lee</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="media">
				<img class="img-responsive media__image" src="images/default_profile.png" alt="">
					<div class="media__body">
						<br><br><br>
						<a class="media-icons team-social" target="_blank" title="Twitter" href="http://www.twitter.com"><img alt="follow me on Twitter" src="images/twitter.png" border=0></a>
						<a class="media-icons team-social" target="_blank" title="Linkedin" href="http://www.linkedin.com"><img alt="follow me on Facebook" src="images/linkedin.png" border=0></a>
					</div>
				</div>
				<div class="team-info">
					<h3>Zhi Ho</h3> 
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="media">
				<img class="img-responsive media__image" src="images/default_profile.png" alt="">
					<div class="media__body">
						<br><br><br>
						<a class="media-icons team-social" target="_blank" title="Twitter" href="http://www.twitter.com"><img alt="follow me on Twitter" src="images/twitter.png" border=0></a>
						<a class="media-icons team-social" target="_blank" title="Linkedin" href="http://www.linkedin.com"><img alt="follow me on Facebook" src="images/linkedin.png" border=0></a>
					</div>
				</div>
				<div class="team-info">
					<h3>Suman Dutta</h3> 
				</div>
			</div>
		</div>

		<br><br>
		<h4 class="text-center">Please <a href="/contact">contact us</a> if you would like to reach us or leave us a message!</h4>

	</div>
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy; 2015 - All Rights Reserved - EXgames</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	</body>