<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/index-page-styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EXgames</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
					<li>
						<a href="/posting">Sell</a>
					</li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    
					<li>
						<a href="/login">Logout</a>
					</li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<div class="container">
		<div class="row">
			<div class="contact-info">
				<h2 class="text-center">Contact Us</h2>
				<h4 class="text-center">We'd love to hear from you</h4><br>
				<div class="contact-form">
					<form role="form">
					<div class="form-group">
						<input type="text" class="form-control" id="contact-name" placeholder="Your name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="contact-email" placeholder="Your email">
					</div>
					<div class="form-group">
						<textarea type="text" class="form-control" id="contact-comment" placeholder="Enter your message"></textarea>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
					</form>
				</div>
				
				<h2 class="text-center">Other ways to reach us</h2>
				<h4 class="text-center">You can get in touch with us using the following</h4><br>
				
				<div class="contact-ways">
					<table class="contact-information center-table">
						<tbody>
							<tr>
								<td><i class="fa fa-envelope"></i></td>
								<td><a href="mailto:mail@EXgames.com">mail@EXgames.com</a></td>
							</tr>
							<tr>
								<td><i class="fa fa-phone"></i></td>
								<td>905-888-8888</td>
							</tr>
							<tr>
								<td><i class="fa fa-facebook"></td>
								<td><a href="http://www.facebook.com/EXGames" border=0>www.facebook.com/EXGames</a></td>
							</tr>
							<tr>
								<td><i class="fa fa-twitter"></td>
								<td><a href="http://www.twitter.com/EXGames" border=0>@EXGames</a></td>
							</tr>
							<tr>
								<td><i class="fa fa-map-marker"></i></td>
								<td class="text-nowrap">123 Rainbow Street Office 305, <br>A1B2C3	 Toronto ON</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<h2 class="text-center">How to find us</h2>
				<h4 class="text-center">For those who want a more personal visit</h4><br>
				
				<div class="center-table">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.450578590702!2d-79.3970185!3d43.6595981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34c75165c957%3A0x6459384147b4b67b!2sBahen+Centre+for+Information+Technology!5e0!3m2!1sen!2sca!4v1438387735986" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>
	</div>
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy; 2015 - All Rights Reserved - EXgames</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	</body>