<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index-page-styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container"> 

        <div class="row">
            <div class="col-md-3">
				<p class="lead">"Hi"</p>
                <div class="list-group">
					<a href="/admin" class="list-group-item">View Postings</a>
                    <a href="/view_users" class="list-group-item">View Users</a>
					<a href="/modify_password" class="list-group-item">Edit Users</a>
                </div>  
            </div>
            <div class="col-md-8 col-md-offset-1 response-box">
				<form role="form" action="#" method="post">
					<div class="form-group">
							<label for="contact-topic">'New password for User:'</label>
							<input type="text" class="form-control" name="userPass"></textarea>
					</div>
					<h4><%='User current username:'+user.username%></h4>
					<div class="form-group">
							<label for="contact-topic">New Username for User:</label>
							<input type="text" class="form-control" name="userName"></textarea>
					</div>
					<h4><%='User current first name:'+user.first%></h4>
					<div class="form-group">
							<label for="contact-topic">New first name for User:</label>
							<input type="text" class="form-control" name="firstName"></textarea>
					</div>
					<h4><%='User current last name:'+user.last%></h4>
					<div class="form-group">
							<label for="contact-topic">New last name for User:</label>
							<input type="text" class="form-control" name="lastName"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
            </div>
        </div>
		<br>
	    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
		<% } %>		
    </div>
 

	<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy; 2015 - All Rights Reserved - CompanyNameHere</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
