<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/login-page-styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <!-- Page Content -->
    <div class="container"> 
		<br> 
		<br>
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>         
		
		<br> <!-- TODO need to be fixed (h2 login is behind the header) -->
		
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="login-box">
				<h2 class="text-center">Create a new EXgames account</h2>
				<form role="form" action="/register" method="post">
					<div class="form-group">    
						<label for="email">Username*</label>
						<input type="text" class="form-control" id="username" placeholder="Enter username" name='username'>
					</div>
					<div class="form-group">    
						<label for="email">Email*</label>
						<input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
					</div>
					<div class="form-group">
						<label for="pwd">Password*</label>
						<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" >
					</div>
					<div class="form-group">
						<label for="pwd">Password confirmation*</label>
						<input type="password" class="form-control" id="pwd_confirmation" name="pwd_confirmation" placeholder="Retype password" >
					</div>
					<div class="form-group">
						<label for="country">Country</label><br>
						<select class="input-medium bfh-countries" id="country" data-country="CA" name='country'></select>
					</div>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" class="btn btn-primary" id="b_submit">Register</button>
				</form><br>
				
			<p>You can also register with:</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
			</div>
		</div>
	</div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lang/en_us/bootstrap-formhelpers-countries.en_US.js"></script>
    <script src="js/bootstrap-formhelpers-countries.js"></script>
    
</body>
            
</html>         
            
            
            